<!-- CARDS -->
<div class="row skill-present">
<div class="col-sm-6">
  <div class='card'>
    <div class='card-body'>
  <h5 class='card-title'>Python 3</h5>
  <p class='card-text'>Pandas</p>
  <p class='card-text'>Numpy</p>
  <p class='card-text'>Matplotlib</p>
  <p class='card-text'>Django</p>
</div>
</div>
</div>
<div class="col-sm-6">
  <div class='card'>
    <div class='card-body'>
  <h5 class='card-title'>Javascript ES6</h5>
  <p class='card-text'>Document Object Model</p>
  <p class='card-text'>Jquery</p>
  <p class='card-text'>Node.js</p>
  <p class='card-text'>Express</p>
</div>
</div>
</div>
<div class="col-sm-6">
  <div class='card'>
    <div class='card-body'>
  <h5 class='card-title'>Front End</h5>
  <p class='card-text'>HTML5</p>
  <p class='card-text'>CSS3</p>
  <p class='card-text'>Bootstrap</p>
  <p class='card-text'></p>
</div>
</div>
</div>
</div>
