<!-- Carousel -->
<div id = 'carouselhome' class = 'carousel slide' data-ride = "false">
  <ol class="carousel-indicators">
      <li data-target="#carouselhome" data-slide-to="0" class="active"></li>
      <li data-target="#carouselhome" data-slide-to="1"></li>
      <li data-target="#carouselhome" data-slide-to="2"></li>
    </ol>
<div class = 'carousel-inner'>
<!-- First slide -->
<div class = 'carousel-item active'>
  <p>First slide</p>
</div>

<!-- Second slide -->
<div class = 'carousel-item'>
  <h1>Front End</h1>
</div>

<!-- Third slide -->
<div class = 'carousel-item'>
  <h1>Back End</h1>
</div>
<!-- end of inner part of carousel -->
</div>

<!-- Previous button -->
<a class="carousel-control-prev" href="#carouselhome" role="button" data-slide="prev">
  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  <span class="sr-only">Previous</span>
</a>

<!-- next button -->
<a class="carousel-control-next" href="#carouselhome" role="button" data-slide="next">
  <span class="carousel-control-next-icon" aria-hidden="true"></span>
  <span class="sr-only">Next</span>
</a>

</div>
