/* HTML ELEMENTS -------------------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body{
  font-family: 'Montserrat', sans-serif;
}
h1{
  margin-top:3rem;
}

/* Classes --------------------------------------------------------------------- */

/* Background for the home page */
.background{
    /* Background */
   background-image: url("city_2.jpg");
   background-position: center center;
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: cover;
   background-color: #464646;

   /* text color */
   color:#fff;
}


/* About page first section */
.about-section{
  background-color:#fff;
  text-align:center;
}

/* picture in the about page */
.guy-picture{
  width:90%
}

/* title in the home page */
.title{
  position:absolute;
  transform: translate(-50%, -50%);
  top:50%;
  left:50%;
  text-align:center;
  color:#fff;
}

.welcome{
  background-color:black;
  opacity:60%;
}


/* footer for home page */
.home-footer{
  position:absolute;
  bottom:2%;
  right:2%;
  width:7rem;
}

.link-icons{
  color:#fff;
  padding:0 6%;
}



/* Navigation Bar */
.nav-item{
  padding:0 0.5rem;
  color:#fff;
}

.navbar {
  padding: 0.5rem 4rem;
}

/* about page footer */
